/node_modules
.git
.env
.gitignore
.dockerignore
ProcFile
deployment.yaml
docker-compose.yml
ingress.yaml
loadAndStartDockerCompose.bash
loadAndStartDockerFile.bash
start-dockerImage.sh
start-jenkins.sh
/uploads
/_data_test
/backend/data
/database
/documentation
/frontend/build
/frontend/node_modules
/frontendWithExpress
/.pnp
.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*