<div>
    <p>Salut {{name}},</p>
    <p>Tu trouveras ci-dessous tes informations de connexion à l'application te permettant de remonter ton prévisionnel de charge</p>
    <ul>
        <li>url de connexion: <a href={{url}}>App</a></li>
        <li>Identifiant : {{email}}</li>
        <li>Mot de passe : {{mdp}}</li>
    </ul>
    <p>Tu peux changer ton mot de passe à tout moment en te rendant dans ton espace personnel.</p>
    <p>Merci !</p>
</div>