<div>
    <p>Salut {{name}},</p>
    <p>Tu trouveras ci-dessous tes informations de connexion à l'application te permettant de remonter ton prévisionnel de charge</p>
    <ul>
        <li>url de connexion: <a href={{url}}>App</a></li>
        <li>Identifiant : {{email}}</li>
        <li>Mot de passe : {{mdp}}</li>
    </ul>
    <p>Tu peux changer ton mot de passe à tout moment en te rendant dans ton espace personnel (Edit my profil).</p>
    <h3>Rappel des bonnes pratiques</h3>
    <ul>
        <li>Mettre à jour ton prévisionnel de charge au moins 1 fois par semaine</li>
        <ul>
            <li>La production (Prd) c'est les jours que tu imputes à un client dans Wavekeeper</li>
            <li>La non production (NPrd) c'est les jours que tu n'imputes pas au client :  activité interne, formation, arrêt maladie courte durée, inter-contrat, etc.</li>
            <li>Les congés (Hld) c'est les jours déclarés en congés (annuel ou RTT) dans Wavekeeper</li>
            <li>La disponibilité (Avlb) c'est les jours de disponibilité restants (calculé automatiquement)</li>
        </ul>
        <li>T'assurer que tu as bien reporté tes congés et jours de formation dans ton prévisionnel de charge</li>
        <li>Partager tes objectifs avec ton management</li>
        <ul>
            <li>My annual objectives : les objectifs partagés avec ton CDM en entretien annuel</li>
            <li>My personal objectives (facultatif) : tout autre objectif que tu voudrais partager avec ton CDM</li>
        </ul>
    </ul>
    <br>
    <p>/!\ <i>Attention, en attendant une éventuelle généralisation, l'application est hébergée dans un environnement
        gratuit. Par conséquent : L'application se met en veille automatiquement si aucun utilisateur n'est connecté. 
        Ainsi l'application peut prendre jusqu'à 20s pour charger la première page demandée. La navigation est ensuite fluide.
    </i></p>
    <p>Bonne journée !</p>
</div>