<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" /> --}}
    <title>ressource-management-app</title>
</head>

<body>
    <div style="width:80vh; margin:auto;">
        <div
            style="background-color: #464277; color:white; height:5em; display:flex; align-items:center; padding-left:30px;">
            <h3 style="width:12em">
                {{!-- <a style="color: white;" href="https://ressource-management-app.herokuapp.com/">Performance-App</a> --}}
                <p style="color: white;">Performance-App</p>
            </h3>
        </div>
        <div style="backgroud-color:#e5e4ec">
            {{{body}}}
        </div>
    </div>
</body>

</html>